@import "../../node_modules/conversational-form/src/styles/mixins/cf-mixins";

/*
    Globals
*/
$cf-base-font-size: 14px !default; // Default is 12px. Positions and sizes will be relative to this size.

$cf-color-background: #fff !default;
$cf-color-primary: #447afe !default;
$cf-color-secondary: #f3f4f6 !default;
$cf-color-error: #fe8d84 !default;

$cf-font-family: 'Helvetica Neue','Neue Helvetica W01',Helvetica,Arial,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif !default;

@import "../../node_modules/conversational-form/src/styles/conversational-form";